//colors
$black: #000;
$color_tan_30_approx: rgba(210,184,135,.3);
$white: #fff;
$color_tan_approx: #d2b887;
$white_30: rgba(255,255,255,.3);
$color_tan_10_approx: rgba(210,184,135,.1);
$color_alabaster_approx: #fcfcfc;
$white_20: rgba(255,255,255,.2);

//urls
$url_0: url(../img/knurling.jpg);
$url_1: url(../img/knurling-white.svg);

//fonts
$font_0: Lora;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Montserrat;
$font_6: Inconsolata;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
    font-weight: 700;
    letter-spacing: 1px;
}

//original selectors
//.btn-circle:hover, .btn-circle:focus
%extend_2 {
    outline: 0;
    color: $white;
    background: $color_tan_10_approx;
}

//original selectors
//.btn-default:hover, .btn-default:focus
%extend_3 {
    border: 1px solid $color_tan_approx;
    outline: 0;
    color: $black;
    background-color: $color_tan_approx;
}


* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
    width: 100%;
    height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
  color: $white;
  background-color: $black;
  webkit-tap-highlight-color: $white_20;
}
body,html{
    min-height: 100vh;
}
.fa-custom-knurling:before {
    content: "";
    background-image: $url_1;
    background-size: 20px 13px;
    width: 18px;
    height: 13px;
    display: block;
}

::-moz-selection {
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    background: $color_alabaster_approx;
    background: $white_20;
}
::selection {
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    background: $color_alabaster_approx;
    background: $white_20;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
@-webkit-keyframes pulse {
    0 {
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    50% {
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1.2);
    }
    100% {
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0 {
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    50% {
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1.2);
    }
    100% {
        //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
}
